
body {
  padding-top: 100px;
  
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}


    
        ul {
          list-style-type: none;
          margin: 0;
          border-style: solid;
          border-width: 5px;
          padding: 0;
          overflow: hidden;
          background-color: black;
          border-color: black;
        }
        
        li {
          float: left;
          color: black;
        }
        
        li a {
          display: block;
          color: black;
          text-align: center;
          border-style: solid;
          border-width: 5px;
          padding: 14px 16px;
          text-decoration: none;
          border-color:black;
        }

        .active {
          background-color: #45a049;
        
        }
        
        li a:hover:not(.active) {
          background-color: purple;
        }
        
        

        
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: purple;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.footer {
  background-color: purple;
  padding: 25px;
  text-align: center;
}

.fa {
  color: black;
}