body {
    padding-top: 100px;
    background-color: black;
  }
  /* @media (max-width: 979px) {
  body {
    padding-top: 50px;
  }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    padding-top: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    padding-top: 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    padding-top: 50px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    padding-top: 50px;
  }
  .desc {
    padding-left: 150px;
    padding-right: 150px;
    text-indent: 35px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    padding-top: 50px;
  }
  .desc {
    padding-left: 150px;
    padding-right: 150px;
    text-indent: 35px;
  }
}
  
  ul {
    list-style-type: none;
    margin: 0;
    border-style: solid;
    border-width: 5px;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-color: black;
  }
  
  li {
    float: left;
    color: black;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    padding: 14px 16px;
    text-decoration: none;
    border-color:black;
  }
  
  .active {
    background-color: #0f39f1;
  
  }
  
  li a:hover:not(.active) {
    background-color: purple;
  }
  
  .me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .display-4 {
  text-align: center;
  }
  
  .footer {
    background-color: purple;
    padding: 25px;
    text-align: center;
  }
  
  .fa {
    color: black;
  }
  
  .aboutme {
    text-align: center;
  }
  
  .desc {
    padding-left: 150px;
    padding-right: 150px;
    text-indent: 35px;
  }
  
  #icons {
    /* display: flex;
    justify-content: right; */
    text-align: right;
  }
  
  .col-centered{
    float: none;
    margin: 0 auto;
 }

 .carousel {
     width: 480px;
     height: 360px;
 }

.col-lg-6 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


  